# Puerto
PORT=3001

# DB
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=contraseña
DB_NAME=bienes_raices_db
JWT_SECRET=token

# Brevo
SMTP_HOST=smtp-relay.sendinblue.com
SMTP_PORT=465
SMTP_USER=user_smtp
SMTP_PASS=clave_smtp
EMAIL_FROM="Nombre Empresa" <notificaciones@dominio.com>
EMAIL_TO=contacto@dominio.com

#Gemini
GEMINI_API_KEY=key